# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  schedule:
    - cron: '0 8 * * *'

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm ci
      - run: npm run build --if-present
        env:
          CI: false
  
      - run: curl -sSL https://github.com/howardchung/opencfb/raw/release/public/opencfb.sqlite > ./public/opencfb.sqlite
      - run: pushd golang && go build && popd
      - run: ./golang/opencfb
        env:
          SVC: espn
          DB_PATH: ./public/opencfb.sqlite
      - run: npm run server
      
      - name: Push to remote
        if: ${{ github.ref == 'refs/heads/master' }}
        run: |
          git config --global user.name "github-actions[bot]"	
          git config --global user.email "opencfb+github-actions[bot]@users.noreply.github.com"	
          rm .gitignore	
          git checkout -b release
          git add --all
          git commit --quiet -m "Built from ${{ github.sha }}" 	
          git push origin release -f
          
  deploy:
    needs: build
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Pages
        uses: actions/configure-pages@v2
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          # Upload entire repository
          path: 'build'
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1
